<section id="instructors" class="p-5 bg-primary">
  <div class="container">
    <h2 class="text-center text-white">Our Instructors</h2>
    <p class="lead text-center text-white mb-5">
      Our instructors all have 5+ years working as a web developer in the
      industry
    </p>
    <div class="row g-4">
      <div class="col-md-6 col-lg-3" *ngFor="let instructor of instructors">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="{{ instructor.img }}"
              class="rounded-circle mb-3"
              alt=""
            />
            <h3 class="card-title mb-3">{{ instructor.name }}</h3>
            <p class="card-text">{{ instructor.desc }}</p>
            <span
              class="social-media"
              *ngFor="let socmed of instructor.socialMedia"
            >
              <a href="{{ socmed.link }}"
                ><i class="{{ socmed.icon }} text-dark mx-1"></i
              ></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
