<section id="component-a" class="p-5" appHighlight>
  <h1>Component A</h1>
  <ul class="list-group mb-5">
    <li class="list-group-item">
      <a routerLink="/demo/component-a/child-aa">Child AA</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/demo/component-a/child-ab">Child AB</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

  <div class="mt-5 mb-5">
    <h3 [innerHTML]="messageHover" (mouseover)="mouseOver()" (mouseout)="mouseOut()"></h3>
  </div>

  <div class="mb-5">
    <input type="text" class="form-control" (change)="onMessageInput($event)">
  </div>

  <h5 class="mt-t mb-5">{{messageInput}}</h5>

  <div class="btn-group">
    <button
      routerLink="/demo/component-b/1"
      class="btn btn-outline-primary mb-5"
    >
      Go to component b
    </button>
    <button
      class="btn btn-outline-warning mb-5"
      [disabled]="isDisabled"
      (click)="showMe()"
    >
      Show Me
    </button>
  </div>

  <h4>{{ message }}</h4>
</section>
