<section id="instructors" class="p-5">
  <div class="container">
    <h2 class="text-center mb-5">Learn something new!</h2>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img
            src="assets/images/course-js.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6>Mandiri iLearn</h6>
            <h5 class="card-title">JavaScript is Fun</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="d-flex justify-content-between mt-5">
              <h6>Intermediate</h6>
              <a href="#" class="btn btn-outline-dark"
                >Go somewhere <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img
            src="assets/images/course-angular.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6>Mandiri iLearn</h6>
            <h5 class="card-title">Angular is Fun</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="d-flex justify-content-between mt-5">
              <h6>Intermediate</h6>
              <a href="#" class="btn btn-outline-dark"
                >Go somewhere <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img
            src="assets/images/course-ionic.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6>Mandiri iLearn</h6>
            <h5 class="card-title">Ionic is Fun</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="d-flex justify-content-between mt-5">
              <h6>Intermediate</h6>
              <a href="#" class="btn btn-outline-dark"
                >Go somewhere <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img
            src="assets/images/course-php.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6>Mandiri iLearn</h6>
            <h5 class="card-title">PHP is Fun</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="d-flex justify-content-between mt-5">
              <h6>Intermediate</h6>
              <a href="#" class="btn btn-outline-dark"
                >Go somewhere <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img
            src="assets/images/course-css.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6>Mandiri iLearn</h6>
            <h5 class="card-title">CSS3 is Fun</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="d-flex justify-content-between mt-5">
              <h6>Intermediate</h6>
              <a href="#" class="btn btn-outline-dark"
                >Go somewhere <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img
            src="assets/images/course-js-map.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6>Mandiri iLearn</h6>
            <h5 class="card-title">JavaScript with Maps is Fun</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="d-flex justify-content-between mt-5">
              <h6>Intermediate</h6>
              <a href="#" class="btn btn-outline-dark"
                >Go somewhere <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g4">
      <div class="d-flex justify-content-center btn-showmore">
        <button class="btn btn-outline-dark">Show More</button>
      </div>
    </div>
  </div>
</section>
